@import url('https://fonts.googleapis.com/css2?family=Play&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;  
    border: none;  
}
html{
    scroll-padding-top: 200px;
}
html, body {
    overflow-x:hidden;
    }
:root{
    --light_grey:rgba(200,200,200,1);
    --black:rgba(19,19,19,1);
    --blue:rgb(3,126,253);
    --light_blue:rgb(0,176,253);
}
body{
    background-color:var(--light_grey);
}
section{
    height: 100vh;
}
.header{
    width: 100%;
    height: 125px;
    position: fixed;
    top: 0;
    background: linear-gradient(180deg,var(--black)  92%, var(--light_grey) 100%);
    z-index: 1;
}
.logo{
    font-family: 'Press Start 2P', cursive;
    float: left;
    font-size: 200%;
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: 5px;
    color:var(--light_blue);
}
.menu{
    font-size: 125%;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-right: 50px;
    font-family: 'Play', sans-serif;
    
}
.menu  li{
    float: right;
    list-style-type: none;
    margin-right: 50px;
}
.menu a{
    text-decoration: none;
    color: var(--light_blue);
}
.menu a:hover{
    border-bottom: var(--light_blue) 2px solid;
    color: var(--blue);
}
.profile-picture-outer{
    height: 1000px;
    width: 100%;
    margin-top:25px;
}
.picture-about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin-top: -75px;
}
.profile-image{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    animation-name: profile-picture;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}
@keyframes profile-picture {
    from{
        transform: scale(1.05);
    }
    to{
        transform: scale(1);
    }
}
.profile-heading{
    font-family: 'play';
    text-align: center;
    position: relative;
    bottom: 180px;
}
.bio{
    height: 1000px;
    width: 100%;
    
}
.bio-content{
    width:33%;
    margin: 0 auto;
    position: relative;
    margin-top: 325px;  
}
.bio-content h1{
    font-family: 'Press Start 2P', cursive;
}
.bio-content h3, .bio-content h4, .bio-content p{
    font-family: 'Play', sans-serif;
    max-width: 100%;
}
.media-content{
    height: 1250px;
}
.soundcloud{
    width:100%; height:166px; border:0; 
}
.youtube-video{
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 0;
}
.contact-form{
    height:750px;
}
.contact-form > h2 {
    width:auto;
    margin-top: 5px;
    left: 100px;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    
}
.signup-form{
    margin-top: 20px;
    margin-left: 100px;
    width: 200px;
    background-color: rgba(19,19,19,80%);
    position:absolute;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 1em;
}
label{
    color: var(--light_grey);
    display:inline-block;
    text-align: left;
    font: 1em 'Play', sans-serif;
    padding: 2px;
}
input, textarea{
    width: 200px;
    font: 1em 'Play', sans-serif;
    padding-top: 3px;
    padding-left: 2px;
    padding-bottom: 3px;
    border-radius: 0.5em;
}
textarea{
    height: 5em;
}
input:focus, textarea:focus {
    border-color: var(--black);
    border: 3px;
}
.join-button{
    margin-top:5px;
    border-radius:2px;
    padding:10px;
    text-align:center;
    font-size:100%;
    color: rgba(19,19,19,1);
    display:block;
    background-color: var(--light_blue);
    border-radius: 0.5em;
} 
.join-button:hover{
    background-color:var(--light_grey);
    color: rgb(19,19,19);
}
.end-page-image{
    float:right;   
    margin-top:113px;
}
footer{
    height: 125px;
    width: 100%;
    position: fixed;
    bottom:0;
    background: linear-gradient(0deg, var(--black) 88%, var(--light_grey) 100%);
}
.social-networks{
    text-align: center;
}
.social-networks > li{
    display: inline;
    margin:125px
}
.social-networks i{
    font-size: 250%;
    color: var(--light_blue);
    margin-top: 50px;
}
.social-networks i:hover{
    color: var(--blue);
}
@media only screen and (max-width:900px){
    .menu{
        font-size: 110%;
        letter-spacing: 3px;
        margin-top: 55px;
        margin-right: 70px;
        }
    .menu  li{
        margin-right: 20px;  
        }
    .bio-content{
        width:66%;
    }
    .social-networks > li{
        margin:75px
        }
    .social-networks i{
        font-size: 200%;
        margin-top: 55px;
        }
}
@media only screen and (max-width:600px){
    #logo{
        font-size: 150%;
    }
    .menu{
        font-size: 100%;
        letter-spacing: 2px;
        margin-top: 90px;
        margin-right: 20px;
        }
    .menu  li{
        margin-right: 20px;
        }
    .profile-picture-outer{
        height: 850px;
        }
    .profile-image{
        height: 300px;
        width: 300px;
        }
    .picture-about{
        margin: -150px auto;
        }
    .profile-heading{
        bottom: 100px;
        font-size: 100%;
    }
    .bio-content{
        width: 80%;
        margin: 0 auto;
    }
    .social-networks > li{
        margin:25px
        }
    .social-networks i{
        font-size: 180%;
        margin-top: 60px;
        }
}